module tests.perception


# Testing a WIP feature: percepts (as "events" emitted from Java code).
# (DO NOT USE PERCEPTS - They might change, or be removed, in future versions).
ontology PerceptionTestOnto
    predicate ButtonClicked(counter as integer)
    

agent PerceptionTestAgent uses ontology PerceptionTestOnto
   
    on create do
        activate Test
        

cyclic behaviour Test uses ontology PerceptionTestOnto
    on activate do 
        log "Activate Test!"
        
    on percept ButtonClicked(count) do
        log "Button Clicked! Counter = " + count
        
        
