module examples.musicstreaming

agent ProviderA extends StreamProvider

    procedure initializeTrackDatabase do
        do nothing
        
    function hasTrack(t as Track) as boolean do
        return false
        
    function computeProposal(forTrack as Track) as (integer, integer) do
        return (0, 0)
        
    function canMeetRequirements(
        forTrack as Track, requirements as Proposition
    ) as boolean do
        return false

    
