module jadescript.examples.musicshop.tasks

import jadescript.examples.musicshop.onto.MusicShopOntology
import jadescript.examples.musicshop.agents.BuyerAgent

one shot behaviour SendRequests 
        for agent BuyerAgent 
        uses ontology MusicShopOntology 
        
    on execute do   
        log name of agent + ": sending call of proposals to: " + sellers
        send message cfp Sell(aid of agent, item of agent) to sellers
