module tests.context

ontology SuperOntology
    concept SuperConcept


ontology MyOntology extends SuperOntology
    concept MyConcept extends SuperConcept


agent SuperAgent uses ontology MyOntology
    property sax = 10
    function say as integer do
        return 11


agent MyAgent extends SuperAgent
    property ax = "test"
    function ay as text do
        return "foo"
        
    on create do
        log sax
        log __dt__ say
        log ax
        activate MyBehaviour

    

one shot behaviour SuperBehaviour for agent MyAgent
    property sbx = true
    function sby as boolean do
        log sax
        log ax
        log sbx
        return false


agent AnotherAgent extends MyAgent
    property aax = "bar"@
    
    on create do
        log aax

one shot behaviour MyBehaviour extends SuperBehaviour
    property bx = inform
    function by as performative do
        return cfp
        
    on execute do
        log __dt__ SuperConcept 
        log __dt__ MyConcept
        log __dt__ sax
        log __dt__ say
        log __dt__ ax
        log __dt__ ay
        log __dt__ sbx
        log __dt__ sby
        log __dt__ bx
        log __dt__ by


